/* Webfont: Canal25 */
@font-face {
    font-family: 'Canal25';
    src: url('Canal25.eot'); /* IE9 Compat Modes */
    src: url('Canal25.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Canal25.woff') format('woff'), /* Modern Browsers */
         url('Canal25.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Canal25.svg#Canal+25-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

